@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #e5e7eb;
  }
}

body {
  background-color: #020617;
  color: #f1f5f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
